// GLOBAL RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

// GLOBAL STYLES
.coloredBG {
  background: #ffefd7;
}
.lightBlueBG {
  background: #dbecff;
}
.hide {
  display: none;
}
.border {
  border: 1px solid black;
}
img {
  object-fit: contain;
}
.pad-top {
  padding-top: 25px;
}
.pad-bottom {
  padding-bottom: 25px;
}
.image {
  display: flex;
  justify-content: center;
  margin: 25px;
}

// BACKGROUND STYLES
.whiteBG {
  background: #fff;
}
.colorBG {
  background: #ffefd7;
}
.orangeBG {
  background: #FDD983;
}
.blueBG {
  background: #58DBEE;
}
.greenBG {
  background: #C1F37A;
}

// TEXT STYLES
.blue {
  color: #58DBEE;
}
.orange {
  color: #f98922;
}
.black {
  color: #000;
}
.center {
  text-align: center;
}

// SNAP SCROLLING
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  section {
    height: 100vh;
    scroll-snap-align: center;
  }
}

// MIXINS
@mixin easeOut {
  transition: all 2s ease-out;
} 

// VARIABLES
$apple: url('img/apple-logo.png');
$hexis: url('img/hexis-logo.png');


