.scrollbar {
  position: fixed;
  right: 2%;
  height: 100%;
  width: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  .scroll-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 10%;
    align-items: center;
    li {
      list-style: none;
      .scroll-item {
        height: 15px;
        width: 15px;
        border: 1px solid #000;
        border-radius: 50%;
        &.active {
          background: #000;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}