.positive {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #4cd964;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.fyi {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #ffcd02;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.issue-small {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #eb5757;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.issue-major {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #eb5757;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.legend {
  border: 5px solid #dbecff;
  border-radius: 25px;
  padding: 1em;
  width: 40%;
  margin-left: auto;
  .insight {
    font-size: .65em;
    span {
      width: 25px;
      height: 25px;
    }
  }
}
.insight {
  display: grid;
  grid-template-columns: 5% 95%;
  padding: .5em;
  div {
    display: grid;
    justify-content: end;
  }
  p {
    align-self: center;
    padding-left: 35px;
  }
}
.subtitle {
  margin: 50px 0 25px 0;
}

#surfin-header, #surfin-footer {
  padding: 25px;
  a {
    text-decoration: none;
    color: #4d4d4d;
    &:hover {
      cursor: pointer;
    }
  }
  h1 {
    padding: 1.5% 0;
    font-size: 3em;
  }
}
#surfin-main {
  section {
    padding: 25px;
  }
  h2 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 1.25em;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    padding: .5em 0;
  }
  h4 {
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: .5em;
  }
  p {
    font-size: 1.5em;
    font-weight: 400;
    color: #4d4d4d;
    padding-bottom: .75em;
  }
  ol, ul {
    color: #4d4d4d;
    padding-bottom: .75em;
    margin-bottom: 20px;
    margin-left: 25px;
  }
  ol li, ul li {
    line-height: 1.5em;
    font-size: 1.5em;
  }
  #validation {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: space-around;
    .validation-item {
      border: 5px solid #dbecff;
      border-radius: 25px;
      h3 {
        background: #dbecff;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      p {
        padding: 25px;
      }
    }
  }
}
#research-protocol {
  padding-bottom: 5px !important;
}
#timeline-pic {
  width: 90%;
}
#recruiting {
  margin-bottom: 50px;
}

#quotes {
  display: grid;
  .quote {
    font-style: italic;
    padding: 1em;
    border: 5px solid #dbecff;
    border-radius: 25px;
    width: 50%;
    margin: 25px;
  }
  .right {
    justify-self: end;
  }
}

#usage-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 85%;
  }
}
#data-coll-image {
  width: 40%;
}

#synthesis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  p {
    padding: 1em;
  }
  img {
    width: 70%;
  }
}