@import 'config';
@import 'nav';
@import 'scroll';
@import 'mobile';

#greeting-section {
  padding: 4% 4% 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  .greeting {
    padding: 5% 10%;
    .emoji {
      font-size: 30px;
      padding: 2% 0;
    }
    h1 {
      font-weight: 600;
      line-height: 1.8;
      font-size: 2.5em;
      padding-bottom: 10%;
    }
  }
}

#work-section {
  margin-right: 4%;
  padding: 5%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  align-items: center;
  .apple-work {
    height: 55%;
    background: #dbecff;
    padding: 20px;
    display: grid;
    h2 {
      text-align: center;
      font-weight: 200;
      color: #808080;
    }
    img {
      justify-self: center;
      align-self: center;
      max-width: 100%;
      max-height: 250px;
    }
  }
  .hexis-app {
    height: 55%;
    background: #ffefd7;
    padding: 20px;
    display: grid;
    h2 {
      text-align: center;
      font-weight: 200;
      color: #808080;
    }
    img {
      justify-self: center;
      align-self: center;
      max-width: 100%;
      max-height: 264px;
    }
  }
}