* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; }

.coloredBG {
  background: #ffefd7; }

.hide {
  display: none; }

.border {
  border: 1px solid black; }

img {
  object-fit: contain; }

.pad-top {
  padding-top: 25px; }

.pad-bottom {
  padding-bottom: 25px; }

.whiteBG {
  background: #fff; }

.colorBG {
  background: #ffefd7; }

.orangeBG {
  background: #FDD983; }

.blueBG {
  background: #58DBEE; }

.greenBG {
  background: #C1F37A; }

.orange {
  color: #f98922; }

.black {
  color: #000; }

.center {
  text-align: center; }

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; }
  .scroll-container section {
    height: 100vh;
    scroll-snap-align: center; }

.scrollbar {
  position: fixed;
  right: 2%;
  height: 100%;
  width: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px; }
  .scrollbar .scroll-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 20px;
    height: auto;
    align-items: center; }
    .scrollbar .scroll-menu li {
      list-style: none; }
      .scrollbar .scroll-menu li .scroll-item {
        height: 15px;
        width: 15px;
        border: 1px solid #000;
        border-radius: 50%; }
        .scrollbar .scroll-menu li .scroll-item.active {
          background: #000; }
        .scrollbar .scroll-menu li .scroll-item:hover {
          cursor: pointer; }

#greeting-section {
  padding: 4% 4% 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center; }
  #greeting-section .greeting {
    padding: 5% 10%; }
    #greeting-section .greeting .emoji {
      font-size: 40px;
      padding: 2% 0; }
    #greeting-section .greeting h1 {
      font-weight: 600;
      line-height: 1.8;
      font-size: 2.5em;
      padding-bottom: 10%; }
  #greeting-section a {
    justify-self: center;
    color: #4d4d4d; }

#work-section {
  margin-right: 4%;
  padding: 5%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  align-items: center; }
  #work-section .apple-work {
    height: 55%;
    background: #dbecff;
    padding: 20px;
    display: grid;
    transition: all .5s ease-out; }
    #work-section .apple-work:hover {
      cursor: pointer;
      box-shadow: 0px 0px 10px #808080,  -0px -0px 10px #808080;
      transition: all .5s ease-out; }
  #work-section .hexis-app {
    height: 55%;
    background: #ffefd7;
    padding: 20px;
    display: grid;
    transition: all .5s ease-out; }
    #work-section .hexis-app:hover {
      cursor: pointer;
      box-shadow: 0px 0px 10px #808080,  -0px -0px 10px #808080;
      transition: all .5s ease-out; }
  #work-section h2 {
    text-align: center;
    font-weight: 200;
    color: #808080;
    align-self: end; }
  #work-section p {
    text-align: center;
    color: #808080;
    font-weight: 200; }
  #work-section a {
    justify-self: center;
    align-self: center; }
  #work-section img {
    max-width: 100%;
    max-height: 250px; }

#profile {
  margin: 5% 4% 0 0;
  padding: 5%;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 66%;
  grid-template-rows: auto;
  column-gap: 20px;
  align-items: center; }
  #profile img {
    border-radius: 20px;
    max-width: 100%; }
  #profile .about-text {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
    line-height: 1.7;
    padding: 30px; }
  #profile a {
    align-self: end;
    justify-self: center;
    color: #4d4d4d;
    grid-column: 1/3; }

#research-about {
  padding: 5%;
  height: 100vh;
  width: 100%;
  display: grid; }
  #research-about #research-methods {
    margin: 2% 1% 0 0;
    padding: 2%;
    background: #dbecff;
    height: 40vh;
    display: flex;
    flex-direction: column; }
  #research-about #design-methods {
    margin: 0 1% 0 0;
    padding: 2%;
    background: #ffefd7;
    height: 30vh;
    display: flex;
    flex-direction: column; }
  #research-about h2 {
    color: #333; }
  #research-about ul {
    margin-top: 4%;
    align-self: center;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20%; }
    #research-about ul li {
      margin-left: 20%;
      color: #4d4d4d; }
  #research-about a {
    align-self: end;
    justify-self: center;
    color: #4d4d4d;
    margin-right: 4%; }

#contact {
  margin: 5% 4% 0 0;
  padding: 5%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  align-items: center; }
  #contact div h1 {
    text-align: center;
    margin: 3% 0;
    font-size: 2em; }
  #contact div p {
    text-align: center;
    font-size: 1.2em; }
  #contact div {
    display: grid;
    justify-content: center; }
  #contact a {
    color: #333;
    text-decoration: none; }
  #contact .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
    #contact .icons a {
      margin: 0 30px; }
  #contact h2 {
    text-align: center;
    margin-top: 10%; }
    #contact h2 a:hover {
      cursor: pointer; }

#hexis-header {
  padding: 25px; }
  #hexis-header a {
    text-decoration: none;
    color: #4d4d4d; }
    #hexis-header a:hover {
      cursor: pointer; }
  #hexis-header h1 {
    padding: 1.5% 0;
    font-size: 3em; }

#hexis-main .section {
  padding-bottom: 20px;
  padding: 25px; }

#hexis-main h2 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: .5em; }

#hexis-main h3 {
  font-size: 1.75em;
  font-weight: 400;
  padding-bottom: .5em; }

#hexis-main h4 {
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: .5em; }

#hexis-main p {
  font-size: 1.5em;
  font-weight: 400;
  color: #4d4d4d;
  padding-bottom: .75em; }

#hexis-main ol, #hexis-main ul {
  color: #4d4d4d;
  padding-bottom: .75em;
  margin-bottom: 20px; }

#hexis-main ol li, #hexis-main ul li {
  line-height: 1.5em;
  font-size: 1.5em; }

#hexis-main .proto-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0; }
  #hexis-main .proto-row .proto-row-photos {
    justify-self: center; }
    #hexis-main .proto-row .proto-row-photos img {
      width: 20vw; }
  #hexis-main .proto-row p {
    padding-top: 80px;
    padding-right: 60px; }

#hexis-main .image {
  display: flex;
  justify-content: center;
  margin: 25px; }

#hexis-main #summary {
  background: #ffefd7; }

#hexis-main .navigation-header {
  padding-left: 25px;
  background: #ffefd7; }

#hexis-main ol, #hexis-main ul {
  padding-left: 25px; }

#hexis-main #discover-section img {
  width: 50%; }

#hexis-main #discover-section #personas .persona-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 0; }
  #hexis-main #discover-section #personas .persona-img img {
    width: 95%;
    border: 1px #000 solid;
    border-radius: 25px; }

#hexis-main #discover-section #personas #risks {
  padding-top: 30px; }
  #hexis-main #discover-section #personas #risks .headers {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  #hexis-main #discover-section #personas #risks .risk-row {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 15px 0; }
    #hexis-main #discover-section #personas #risks .risk-row p {
      background: #fff;
      border-radius: 20px;
      padding: 15px;
      justify-self: center;
      width: 80%; }
    #hexis-main #discover-section #personas #risks .risk-row div {
      align-self: center;
      justify-self: center; }

#hexis-main #research-section #affinity {
  width: 70%; }

#hexis-main #research-section #quotes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 0; }
  #hexis-main #research-section #quotes img {
    width: 30vw; }

#hexis-main #research-section #constraints {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

#hexis-main #ideate-section #story-map {
  width: 60%; }

#hexis-main #ideate-section #sketches {
  width: 50%; }

#hexis-main #ideate-section #review-key {
  display: grid;
  grid-template-columns: repeat(3, 10%);
  justify-content: center; }
  #hexis-main #ideate-section #review-key div {
    padding: 40px 15px;
    text-align: center;
    margin: 0 5px; }

#hexis-main #ideate-section #happy-path {
  width: 90vw; }

#hexis-main #ideate-section #user-flow {
  display: grid;
  grid-template-columns: 65% 35%; }
  #hexis-main #ideate-section #user-flow #user-flow-img {
    width: 60vw; }
  #hexis-main #ideate-section #user-flow p {
    align-self: center;
    justify-self: center;
    padding-right: 60px; }

.navbar-home {
  position: absolute;
  top: 1%;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center; }
  .navbar-home .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30%; }
    .navbar-home .nav-menu .nav-item {
      margin: 0;
      list-style: none;
      text-align: center;
      color: #808080;
      font-size: 1.2em; }
      .navbar-home .nav-menu .nav-item a {
        color: inherit;
        text-decoration: none; }
      .navbar-home .nav-menu .nav-item.active {
        font-weight: 600;
        color: #000; }
      .navbar-home .nav-menu .nav-item:hover {
        cursor: pointer; }

#hexis-stickynav {
  position: sticky;
  top: 0;
  background: #ffefd7;
  padding: 0 25px;
  display: flex; }
  #hexis-stickynav .navbar-hexis {
    align-self: center;
    margin: auto; }
    #hexis-stickynav .navbar-hexis ul {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      list-style: none;
      padding-bottom: 0;
      margin-top: 20px; }
      #hexis-stickynav .navbar-hexis ul li {
        font-size: 1em;
        display: flex; }
        #hexis-stickynav .navbar-hexis ul li a {
          padding: 20px;
          color: #4d4d4d;
          text-align: center;
          width: 150px;
          text-decoration: none;
          background: #fff;
          border-radius: 20px; }
          #hexis-stickynav .navbar-hexis ul li a:hover {
            cursor: pointer; }
        #hexis-stickynav .navbar-hexis ul li span {
          align-self: center;
          margin: auto;
          color: #4d4d4d; }

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -90px; }
