/* BACKGROUND STYLES */
.colorBG {
  background: #ffefd7;
}
.orangeBG {
  background: #FDD983;
}
.blueBG {
  background: #58DBEE;
}
.greenBG {
  background: #C1F37A;
}

/* TEXT STYLE */
.orange {
  color: #f98922;
}